{% extends "@PifaceApp/Base/base.html.twig" %}

{% block title %}PifaceAppBundle:Dashboard:show{% endblock %}

{% block page_content %}
    {% set pluriel = (countAdvert <= 1) ? 'annonce' : 'annonces' %}
    {% set count = 1 %}

    {% for flashMessage in app.session.flashBag.get('notice') %}
        <div class="alert alert-danger">
            <p>ATTENTION : Cette annonce a été jugé comme non respect de la charte de respect. Cette annonce n'est donc
                pas mise en ligne et sera supprimer...
                <br>
                De plus vous recevez un avertissement.</p>
            <p>Pour rappel, au bout de 3 avertissements, votre compte se vera banni définitivement.</p>
        </div>
    {% endfor %}

    <div class="dashboard-content block-white">

        <h3>Mon tableau de bord</h3>

        <a href="{{ path('piface_app_advert_add') }}">Déposer une annonce !</a>

        <h4>{{ countAdvert }} {{ pluriel }} en ligne</h4>
        <hr>

        {% if adverts is not empty %}
            {% for advert in adverts %}
                <div class="element" id="element_{{ count }}">
                    <div class="date">
                        {{ advert.createdAt|date('d/m/Y') }}
                    </div>
                    <div class="image">
                        {% if advert.image.imageFile is defined %}
                            <img src="{{ asset(vich_uploader_asset(advert.image, 'imageFile') | imagine_filter('my_thumb')) }}"
                                 alt="{{ advert.image.imageName }}">
                        {% endif %}
                    </div>
                    <div class="detail">
                        <a href="{{ path('piface_app_advert', {'id':advert.id}) }}">{{ advert.title }}</a><br>
                        {{ advert.category.name }}<br>
                        {{ advert.prix }}€
                    </div>
                    {% if advert.offCharter == false %}
                        <div class="action">
                            <a href="{{ path('piface_app_my_advert_edit', {'id': advert.id}) }}">MODIFIER</a>
                            <div class="hr"></div>
                            <a href="{{ path('piface_app_my_advert_delete', {'id': advert.id}) }}">SUPPRIMER</a>
                        </div>
                    {% else %}
                        <p>Cette annonce est bloqué.</p>
                    {% endif %}
                </div>
                {% set count = count + 1 %}
            {% endfor %}
        {% else %}
            <h3>Les avantages du tableau de bord</h3>
            <ul>
                <li>Vision sur vos annonces en ligne</li>
                <li>Possibiliter de modifier ou de supprimer vos annonces en quelques clic</li>
            </ul>
        {% endif %}

    </div>
{% endblock %}
