<div class="well">
    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_label(form.title) }}
    {{ form_errors(form.title) }}
    {{ form_widget(form.title) }}

    <button type="submit">Publier mon annonce</button>

    {{ form_rest(form) }}
    {{ form_end(form) }}
</div>
