<div class="panel panel-primary">
    <div class="panel-heading">Votre annonce</div>
    <div class="panel-body">
        {{ form_start(form, {'attr': {'id':'addAdvertForm', 'class': 'form-submit'}}) }}
        {{ form_errors(form) }}

        <div class="form-group">
            {{ form_label(form.category) }}
            {{ form_widget(form.category, {'attr': {'class': 'form-control small'}}) }}
            {{ form_errors(form.category) }}
        </div>

        <div class="form-group">
            {{ form_label(form.title) }}
            {{ form_widget(form.title, {'attr': {'class': 'form-control medium'}}) }}
            {{ form_errors(form.title, {'attr': {'class': 'error-form'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.content) }}
            {{ form_widget(form.content, {'attr': {'class': 'form-control medium', 'rows': '10'}}) }}
            {{ form_errors(form.content) }}
        </div>

        <div class="form-group">
            {{ form_label(form.prix) }}
            <div class="input-group small">
                {{ form_widget(form.prix, {'attr': {'class': 'form-control', 'aria-describedby': 'prix-addon', 'maxlength': '8'}}) }}
                <span class="input-group-addon" id="prix-addon">€</span>
            </div>
            {{ form_errors(form.prix) }}
        </div>

        <div class="form-group">
            {{ form_label(form.image) }}
            {{ form_widget(form.image) }}
            {{ form_errors(form.image) }}
        </div>

        <h3>Localisation</h3>

        <div class="form-group">
            {{ form_label(form.address.address) }}
            {{ form_widget(form.address.address, {'attr': {'class': 'form-control medium'}}) }}
            {{ form_errors(form.address.address) }}
        </div>

        <div class="form-group">
            {{ form_label(form.address.additionalAddress) }}
            {{ form_widget(form.address.additionalAddress, {'attr': {'class': 'form-control medium'}}) }}
            {{ form_errors(form.address.additionalAddress) }}
        </div>

        <div class="form-group">
            {{ form_label(form.address.postalCode) }}
            {{ form_widget(form.address.postalCode, {'attr': {'class': 'form-control small'}}) }}
            {{ form_errors(form.address.postalCode) }}
        </div>

        <div class="form-group">
            {{ form_label(form.address.town) }}
            {{ form_widget(form.address.town, {'attr': {'class': 'form-control small'}}) }}
            {{ form_errors(form.address.town) }}
        </div>

        <div class="form-group">
            {{ form_label(form.forward) }}
            {{ form_widget(form.forward) }}
            {{ form_errors(form.forward) }}
        </div>

        <button id="addAdvert" type="submit" class="btn-anti-spam btn btn-primary">Publier mon annonce</button>

        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
</div>
