{% extends 'PifaceAppBundle:Base:base.html.twig' %}

{#{% set title = 'Annonce' %}#}

{% block page_content %}
    {% block advert %}
        <h2>{{ advert.title }}</h2>
        <i>Publiée le {{ advert.date|date('d/m/Y') }} à {{ advert.date|date('H:i:s') }}</i><br>
        {% if advert.image.imageFile is defined %}
            <img src="{{ asset(vich_uploader_asset(advert.image, 'imageFile')) }}" alt="{{ advert.image.imageName }}"/>
            <br>
        {% else %}
            Aucune photo publiée<br>
        {% endif %}

        {{ advert.content }}
    {% endblock %}

    {% block manage_advert %}

        {#TODO: A DECOMMENTER PLUS TARD#}
        {#<br>#}
        {#<a href="{{ path('piface_app_my_advert_edit', {'id':advert.id}) }}" class="btn btn-warning">Modifier l'annonce</a>#}
        {#<a href="{{ path('piface_app_my_advert_delete', {'id': advert.id}) }}" class="btn btn-danger">Supprimer l'annonce</a>#}

    {% endblock %}
{% endblock %}
